beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2019.6.16
chardet==3.0.4
cssselect==1.0.3
cycler==0.10.0
decorator==4.4.0
feedfinder2==0.0.4
feedparser==5.2.1
idna==2.8
jieba3k==0.35.1
kiwisolver==1.1.0
lxml==4.3.4
matplotlib==3.1.0
networkx==2.3
newspaper3k==0.2.8
nltk==3.4.5
numpy==1.16.4
pandas==0.24.2
Pillow==6.0.0
py4j==0.10.7
pyparsing==2.4.0
Pyphen==0.9.5
pyspark==2.4.3
pyspark-stubs==2.4.0.post1
python-dateutil==2.8.0
pytz==2019.1
PyYAML==5.1.1
repoze.lru==0.7
requests==2.22.0
requests-file==1.4.3
six==1.12.0
soupsieve==1.9.2
textblob==0.15.3
textstat==0.5.6
tinysegmenter==0.3
tldextract==2.2.1
urllib3==1.25.3
